.footer__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.footer__row1 {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.footer__logo {
    width: 10rem;
    height: 5rem;
}

.footer__row2 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__links {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    width: 10rem;
    
}